body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: auto;
 
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #160446;
    color: white;
}
header img {
    height: 50px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
main {
    padding: 20px;
}
.article {
    margin-bottom: 40px;
    display: flex;
}
.article img {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #160446;
    color: white;
    text-align: center;
    padding: 20px;
    position:absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
